@charset "UTF-8";

#wrapper, video{
	width:100%;
	height:100%;
	z-index: -1;
	padding-bottom: 0;
	margin: 0;
}

body {
	display: block;
	margin: 0;
	font-family: 'Syne Mono', monospace;
	color: white;
	position: relative;
	font-size: 5vw;
	line-height: 20vh;
	letter-spacing: 1vw;
	padding-bottom: 0;
	margin-bottom: 0;
}

#texting {
	position: fixed;
	top: 1%;
	left: 8%;
	width: 80%;
	height: 50%;
	bottom: 0%;
}